<!--{include file="common/_herder" }-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/public/static/admin/css/bootstrap.css">-->
    <link rel="stylesheet" href="/public/static/admin/frame/layui/css/modules/layer/default/layer.css"><!--提示信息的样式要用-->
    <!--<link rel="stylesheet" href="/public/static/admin/frame/layui/css/layui.css">-->
    <!--<link rel="stylesheet" href="/public/static/admin/frame/static/css/style.css">-->
    <!--<script type="text/javascript" src="/public/static/utf8-php/ueditor.config.js"></script>-->
    <!--<script type="text/javascript" src="/public/static/utf8-php/ueditor.all.min.js"></script>-->
    <!--<script type="text/javascript" src="/public/static/utf8-php/lang/zh-cn/zh-cn.js"></script>-->
    <!--<script type="text/javascript" src="/public/static/admin/frame/layui/layui.js"></script>-->
    <script type="text/javascript" src="/public/static/admin/js/jquery-1.12.4.js"></script><!--script标签要用-->
    <script type="text/javascript" src="/public/static/admin/js/jquery.form.js"></script><!--表单事件要用-->
    <script type="text/javascript" src="/public/static/admin/frame/layui/lay/modules/layer.js"></script><!--表单事件要用-->
</head>
<body>
<form action="" id="form">
    上传图片<input style="display: none;" type="file" name="logo" class="file">
    <img src="/public/uploads/thumb/20180920/1a6dddda844ef789494d7c2a61f607b3.png" alt="" class="click-img">
    <br><br>
    <button type="button" id="submit-btn">提交</button>
</form>

<script>
    $(function () {
        $(".click-img").on('click',function () {
            $(this).siblings('.file').click();
        });
        $(".file").change(function () {
            var url = window.URL.createObjectURL(this.files[0]);
            $(this).siblings(".click-img").attr('src',url);
        });
        $("#submit-btn").click(function () {
            $("#form").ajaxSubmit({
                type:'post',
                url:"{:url('admin/aa/index')}",
                data:{},
                dataType:"json",
                success:function (ret) {
                    layer.msg(ret.msg);
                    if (ret.code==1){
                        setTimeout(function () {
                            location.reload();
                        },2000);
                    }
                }
            });
        })
    })
</script>
</body>
