<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/public/static/admin/js/jquery-1.12.4.js"></script><!--script标签要用-->
    <script type="text/javascript" src="/public/static/admin/js/jquery.form.js"></script><!--表单事件要用-->
</head>
<body>
<div id="div1">
    <form id="form1">
        姓名:<input name="name" id="name" class="specialFields"><br>
        年龄:<input name="age" id="age" type="number" class="specialFields"><br>
        地址:<input name="address" id="address"><br>
        兴趣:<p>
        h1:<input type="checkbox" name="hobby" value="h1" checked="checked">
        h2:<input type="checkbox" name="hobby" value="h2">
        h3:<input type="checkbox" name="hobby" value="h3">
        h4:<input type="checkbox" name="hobby" value="h4">
    </p>
        性别:
        男:<input type="radio" name="sexuality" value="man" checked="checked"><br>
        女:<input type="radio" name="sexuality" value="girl"><br>
        <input type="submit" value="submit1" id="sub1">
        <input type="submit" value="submit2" id="sub2">

        <div id="p1">p</div>
    </form>
</div>
<div id="div2"></div>
<script>
    $(function () {
        var options = {
            url: "{:url('admin/aa/love1')}", //提交地址：默认是form的action,如果申明,则会覆盖
            type: "post",   //默认是form的method（get or post），如果申明，则会覆盖
            beforeSubmit: beforeCheck, //提交前的回调函数
            success: successfun,  //提交成功后的回调函数
            target: "#output",  //把服务器返回的内容放入id为output的元素中
            dataType: "json", //html(默认), xml, script, json...接受服务端返回的类型
            clearForm: true,  //成功提交后，是否清除所有表单元素的值
            resetForm: true,  //成功提交后，是否重置所有表单元素的值
            timeout: 3000     //限制请求的时间，当请求大于3秒后，跳出请求
        };
        $("#form1").submit(function () {
            $('#form1').ajaxForm(options)
        })
    })
</script>
</body>
</html>