{include file="common/_herder" }
<style>
    .bg-color{
        background: #ccc;
        color: #333;
    }
</style>
<body class="body">
<div class="my-btn-box">
    <span class="fl">
        <a class="layui-btn btn-add btn-default" href="{:url('admin/content/honoradd')}">添加</a>
    </span>
</div>
<div>
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="300">
            <col width="150">
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>排序</th>
            <th>图片</th>
            <th>类型</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="lists" item="d"}
        <tr>
            <td>{$d['orderby']}</td>
            <td><img src="{$d['thumb']}" style="width: 100px;height: 100px;display: block;"></td>
            <td>{if $d['type'] == 1}pc{else /}移动{/if}</td>
            <td>
                <a class="layui-btn layui-btn-mini layui-btn-normal" href="{:url('admin/content/honoradd',array('id'=>$d['id']))}" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-mini layui-btn-danger" href="{:url('admin/content/honordel',array('id'=>$d['id']))}" lay-event="del">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <div class="page-box">
        {$pager}
    </div>
</div>
</body>
</html>