{include file="common/_herder" }
<body class="body">
<form class="layui-form" action="" id="form">
    <input type="hidden" name="id" value="{$item['id']}">
    <div class="layui-form-item">
        <label class="layui-form-label">广告名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{$item['name']}"  placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告图片</label>
        <div class="layui-input-block">
            <img src="{$item['thumb']}" style="width: 260px;height: 100px;margin: 10px 0;border: 1px solid #ccc;cursor: pointer" class="click-img">
            <input type="file" name="thumb" placeholder="" accept="image/*" class="layui-input file" style="display: none;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告连接</label>
        <div class="layui-input-block">
            <input type="text" name="linkurl" value="{$item['linkurl']}" placeholder="请输入内容" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告位置</label>
        <div class="layui-input-inline">
            <select name="position" style="height: 36px;width: 100%;border: 1px solid #ccc;">
                {foreach name=":getBanner()" key="k" item="d"}
                <option value="{$k}" {if $item['position'] == $k} selected {/if}>{$d}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告内容</label>
        <div class="layui-input-block">
            <script id="editor" name="content" type="text/plain" style="width:1024px;height:500px;"></script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <button class="layui-btn" id="submit-btn" type="button">保存</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        var ue = UE.getEditor('editor');
        setTimeout(function () {
            ue.setContent("{$item['content']}", true);
        },500);
        $(".click-img").on('click',function () {
            $(this).siblings('.layui-input').click();
        });
        $(".file").change(function () {
            var url = window.URL.createObjectURL(this.files[0]);
            $(this).siblings(".click-img").attr('src',url);
        });
        $('.layui-form select').show();
        $("#submit-btn").click(function () {
            $("#form").ajaxSubmit({
                type:'post',
                url:"{:url('admin/set/banneradd')}",
                data:{},
                dataType:"json",
                success:function (ret) {
                    layer.msg(ret.msg);
                    if (ret.code==1){
                        setTimeout(function () {
                            window.location.href = "{:url('admin/set/banner')}";
                        },2000);
                    }
                }
            });
        })
    })
</script>
</body>
</html>