{include file="common/_herder" }
<body class="body">
<div class="layui-row layui-col-space10 my-index-main">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"></h2>
                <div class="layui-colla-content layui-show">
                    <ul class="layui-timeline max-auto">
                        <li class="layui-timeline-item">
                            <div class="layui-timeline-content layui-text">
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>