<div class="layui-side my-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="side-main">
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe620;</i>系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" href-url="{:url('admin/set/index')}"><i class="layui-icon">&#xe621;</i>基本配置</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/set/links')}"><i class="layui-icon">&#xe621;</i>友情连接</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/member/index')}"><i class="layui-icon">&#xe621;</i>管理员列表</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/set/banner')}"><i class="layui-icon">&#xe621;</i>广告列表</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe620;</i>内容管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" href-url="{:url('admin/content/index')}"><i class="layui-icon">&#xe621;</i>优势推荐</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/content/honor')}"><i class="layui-icon">&#xe621;</i>荣誉见证</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/content/mazhu')}"><i class="layui-icon">&#xe621;</i>码主联盟</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/content/about')}"><i class="layui-icon">&#xe621;</i>关于我们</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/content/newstype')}"><i class="layui-icon">&#xe621;</i>文章类型</a></dd>
                    <dd><a href="javascript:;" href-url="{:url('admin/content/news')}"><i class="layui-icon">&#xe621;</i>文章列表</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>